<template>
  <!-- Main Div Holding our Application Data -->
        <div class="container" id="todo">
        <!-- Panel for holding our input -->
        <section class="panel">

            <input type="text" placeholder="First" autofocus class="text-input" v-model="newFirst">
            <input type="text" placeholder="Last" autofocus class="text-input" v-model="newLast">
            <input type="text" placeholder="Phone Number" autofocus class="text-input" v-model="newNumber">
            <input type="text" placeholder="Address" autofocus class="text-input" v-model="newAddress">
            <button v-on:click="addContact">+</button>

        </section>

        <!-- Unordered list for holding our todo items -->
        <ul class="list">

            <li v-for="contact in contactList">

            <label for="checkbox">{{ contact.First }} {{ contact.Last }}, {{ contact.Number }}, {{ contact.Address }} </label>

            <button class="delete" v-on:click="removeContact(contact, contact.First, contact.Last, contact.Number, contact.Address)">X</button>

            </li>

        </ul>

        </div>
</template>

<script>
export default {
  name: 'hello',
  // This is where the data for our application will be held
  data: function () {
    return {
      newFirst: '',
      newLast: '',
      newNumber: '',
      newAddress: '',
      contactList: [],
      errors: []
    }
  },

  created: function () {
    var axios = require('axios')
    axios.get('/Contact_Back-End/ContactsServlet')
    .then(response => {
      console.log(response.data)
      this.contactList = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  },

  // This is where we will register the methods we want to use in our application
  methods: {

    addContact: function () {
      // trim() is used to remove whitespace from both ends of a string
      var axios = require('axios')
      var first = this.newFirst.trim()
      var last = this.newLast.trim()
      var number = this.newNumber.trim()
      var address = this.newAddress.trim()
      var sendData = null
      // if task is not an empty string
      if (first && last && number && address) {
        // Push an object containing the task to the taskList array
        this.contactList.push({
          First: first,
          Last: last,
          Number: number,
          Address: address
        })
        sendData = first + ',' + last + ',' + number + ',' + address
        // Reset newTask to an empty string so the input field is cleared
        console.log(sendData)
        axios.post('/Contact_Back-End/ContactsServlet', {
          data: sendData
        })
          .then(function (response) {
            console.log(sendData)
            console.log(response)
          })
          .catch(function (error) {
              // Wu oh! Something went wrong
            console.log('Error!')
            console.log(error.message)
          })
        this.newFirst = ''
        this.newLast = ''
        this.newNumber = ''
        this.newAddress = ''
      }
    },

    removeContact: function (contact, rFirst, rLast, rNumber, rAddress) {
      var axios = require('axios')
      var index = this.contactList.indexOf(contact)
      var sendRemove
      this.contactList.splice(index, 1)
      sendRemove = rFirst + ',' + rLast + ',' + rNumber + ',' + rAddress
      console.log(sendRemove)
      axios.post('/Contact_Back-End/RemoveServlet', {
        data: sendRemove
      })
          .then(function (response) {
            console.log(sendRemove)
            console.log(response)
          })
          .catch(function (error) {
              // Wu oh! Something went wrong
            console.log('Error!')
            console.log(error.message)
          })
    },

    clearList: function () {
      // Setting taskList to an empty array clears the whole list
      this.contactList = []
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
}


/* Global Styles */

body {
  line-height: 1;
  font-family: "Lato", sans-serif;
  background-color: #EFF1F2;
}

.container {
  width: 70%;
  margin: 1em auto 3em;
  border: 1px solid #efefef;
}

.panel,
li {
  /* Use flexbox */
  display: flex;
  /* Center everything inside .panel and li vertically */
  align-items: center;
  /* Distribute space evenly between the contents*/
  justify-content: space-between;
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid #efefef;
  background-color: #E7E8EB;
}

.text-input {
  border: 1px solid #dedede;
  padding-left: 10px;
  width: 20%;
  height: 35px;
  color: #555;
}

button {
  color: #555;
  background-color: #FFFFFF;
  border: 1px solid #bbb;
  outline: 0;
  width: 50px;
  height: 38px;
  cursor: pointer;
  font-size: 12px;
}


/* Task  area */

.list li {
  background-color: #3465A4;
}

.list li .delete {
  background-color: transparent;
  border: 1px solid #3465A4;
  color: #ddd;
  /* Hide the delete button by default*/
  visibility: hidden;
  font-size: 20px;
  font-weight: bold;
}

.list li:hover > .delete {
  /* Show the delete button when hovering over each list item */
  visibility: visible;
}

.list label {
  padding-right: 10px;
  display: inline-block;
  width: 70%;
  font-size: 18px;
  line-height: 24px;
  color: #fcfcfc;
  z-index: 2;
  overflow: hidden;
}

.list li.done label {
  color: #d9d9d9;
  text-decoration: line-through;
}


/* Media Queries */

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    max-width: 90%;
  }
  button {
    width: 80px;
  }
}
</style>
